[Desktop Entry]
Encoding=UTF-8
Name=Link to seed-examples - Examples for the GNOME WebKit Javascript bindings
Type=Link
URL=http://git.gnome.org/browse/seed-examples/tree/
Icon=(null)
Name[en_US]=Examples for the GNOME WebKit Javascript bindings
