[Desktop Entry]
Encoding=UTF-8
Name=Link to Seed Documentation
Type=Link
URL=http://www.roojs.org/seed/gir-1.1-gtk-2.0/index.html
Icon=(null)
Name[en_US]=Unofficial Seed Documentation (roojs)
